<mat-card>
  <form [formGroup]="postForm" (ngSubmit)="submitForm()">
  <h3>Sell Your Ticket</h3>

                <kendo-autocomplete
                  matInput
                  formControlName="event"
            [data]="data"
            [filterable]="true"
            (filterChange)="handleFilter($event)"
            [placeholder]="'Search for Events'"
        >
        </kendo-autocomplete>

<mat-form-field>
  <mat-label>Price</mat-label>
  <input matInput type="number" formControlName="price" placeholder="price">
</mat-form-field>

  <button mat-raised-button color="primary" class="submit-button" type="submit">Submit</button>
    <mat-error *ngIf="formError">{{formError}}</mat-error>
</form>
</mat-card>




