<mat-toolbar color="primary">
  <mat-toolbar-row>


    <div class="nav-links">
    <a *ngIf="!isAuthenticated" [routerLink]="'login'">Login</a>
    <a *ngIf="isAuthenticated" [routerLink]="'logout'">Logout</a>

    </div>
        <a [routerLink]="''"> Ticket Website</a>

            <kendo-autocomplete
            [data]="data"
            [filterable]="true"
            (filterChange)="handleFilter($event)"
            [placeholder]="'Search for Events'"
        >
        </kendo-autocomplete>
  </mat-toolbar-row>

</mat-toolbar>
