mat-toolbar-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a{
  color: black;
  text-decoration: none;
}

.nav-links{
  display: flex;
  align-content: space-between;
}
