<mat-toolbar color="primary">
  <mat-toolbar-row>


    <div class="nav-links">
    <a *ngIf="!isAuthenticated" [routerLink]="'login'">Login</a>
    <button *ngIf="isAuthenticated" mat-button [matMenuTriggerFor]="menu">More</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="events">Events</button>
      <button mat-menu-item routerLink="listings">Listings</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>

    </div>
        <a [routerLink]="''"> Ticket Website</a>

            <kendo-autocomplete
            [data]="data"
            [filterable]="true"
            (filterChange)="handleFilter($event)"
            [placeholder]="'Search for Events'"
        >
        </kendo-autocomplete>
  </mat-toolbar-row>

</mat-toolbar>
