<mat-toolbar color="primary">
  <mat-toolbar-row>


    <div class="nav-links">
    <a *ngIf="!isAuthenticated" [routerLink]="'login'">Login</a>
          <kendo-menu *ngIf="isAuthenticated">
               <kendo-menu-item text="More">
                   <kendo-menu-item text="Events" (click)="goToEvents()">
                   </kendo-menu-item>
                   <kendo-menu-item text="Listings" (click)="goToListings()">
                   </kendo-menu-item>
                <kendo-menu-item text="Logout" (click)="logout()">
               </kendo-menu-item>
               </kendo-menu-item>

          </kendo-menu>
    </div>
        <a [routerLink]="''"> Ticket Website</a>

            <kendo-autocomplete
            [data]="data"
            [filterable]="true"
            (filterChange)="handleFilter($event)"
            [placeholder]="'Search for Events'"
        >
        </kendo-autocomplete>
  </mat-toolbar-row>

</mat-toolbar>
